<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre mí</h2>
                    <h3 class="section-subheading text-muted">Conoce mi trayectoria, experiencia y enfoque en soluciones de software escalables y seguras</h3>
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-md-12">
                    <div class="about">
                        <img class="img-circle img-responsive" src="{{ site.image }}" alt="">
                        <h4>{{ site.title }}</h4>
                        <p class="text-muted">{{ site.description }}</p>
                        <p class="text-muted">{{ site.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>