<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experiencia</h2>
                    <h3 class="section-subheading text-muted">Una trayectoria de soluciones eficientes</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for exp in site.experience %}
                        {% assign mod = forloop.index | modulo: 2 %}
                        {% if mod == 0 %}
                        <li class="timeline-inverted">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ exp.url }}">                       
                                <div class="timeline-image">
                                     <img class="img-circle img-responsive" src="img/experience/{{ exp.pic }}" alt="">
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a href="{{ exp.url }}">
                                        <h4>{{ exp.institution }}</h4>
                                    </a>
                                    <h5>{{ exp.position }}</h5>
                                    <h6>{{ exp.period }}</h6>
                                    <h6 class="subheading">{{ exp.country }}</h6>
                                </div>
                                <div class="timeline-body">
                                    <ul class="list-unstyled">
                                        {% for item in exp.details %}
                                        <li><p class="text-muted">{{ item.line }}</p></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <a class="link-timeline-start" href="#experience">
                                <div class="timeline-image">
                                    <!--<img class="img-circle img-responsive" src="img/experience/circle-arrow-up.svg" alt="">-->
                                    <svg class="svg-timeline-start" xmlns="http://www.w3.org/2000/svg" viewBox="64 64 512 512">
                                        <!--!Font Awesome Free 7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM337 199L417 279C426.4 288.4 426.4 303.6 417 312.9C407.6 322.2 392.4 322.3 383.1 312.9L344.1 273.9L344.1 424C344.1 437.3 333.4 448 320.1 448C306.8 448 296.1 437.3 296.1 424L296.1 273.9L257.1 312.9C247.7 322.3 232.5 322.3 223.2 312.9C213.9 303.5 213.8 288.3 223.2 279L303.2 199C312.6 189.6 327.8 189.6 337.1 199z"/>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>